@font-face {
    font-family: "CoolVetica-otf";
    src: url("fonts/Coolvetica Rg.otf");
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url("fonts/googleicons.ttf") format('woff');
  }

:root {
    --bgColor: rgb(250, 250, 250);
    --fgColor: rgb(53, 53, 53);
    --secBgColor: #b8b8b8;
    --thirdBgColor: #818181;

    /* --navItemBgColor: #2090db; */
    --navItemBgColor: #78c9ff;
    --secNavItemFgColor: black;
    /* --secNavItemBgColor: #206bdb; */
    --secNavItemBgColor: #3f99ff;

    --fileBgColor: rgb(81, 159, 211);


    --progressBg: rgb(49, 49, 49);
    --progressBarColor: var(--fileBgColor);

    --popupBg: #b3b3b3;
    --confirmBgColor: rgb(92, 174, 133);
    --dangerBgColor: rgb(154, 70, 70);
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.15rem;
}

body {
    font-family: 'CoolVetica-otf', 'Arial', 'Helvetica';
    color: var(--fgColor);
    background-color: var(--bgColor);
}

.fgColor {
    color: var(--fgColor);
}

.bgColor {
    background-color: var(--bgColor);
}

.defaultButton {
    border: 2px solid var(--fgColor);
    background-color: var(--bgColor);
    border-radius: 5px;
    color: var(--fgColor);
    padding: 5px 20px;
}

.simpleShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.defaultButton:hover {
    cursor: pointer;
}

.formBox {
    margin: 1rem;
    min-width: 200px;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}

.formBox > form {
    text-align: left;
    margin-top: 2rem;
}

.formBox > form > input {
    width: 100%;
    font-size: 12px;
    padding: 0.3rem;
    border: none;
    background-color: var(--secBgColor);
    color: var(--fgColor);
    border-radius: 2px;
    box-sizing: border-box;
}

.formBox > form > input:focus {
    /* transform: scale(1.04); */
    outline: none;
    border: none;
} 

.formBox > form > 
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--fgColor);
    background-color: var(--secBgColor);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--secBgColor);
}

.errorRed {
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    color: red;
}

.searchPadding {
    padding: 0.4rem 0.2rem;
    border-radius: 5px;
}

.coreContent {
    display: flex;
}

.topBox {
    height: 10vh;
    width: 100%;
    display: flex;
    vertical-align: middle;
    justify-content:center;
    align-items:center;
}

.searchBox {
    display: flex;
}

.searchInputBox {
  position: relative;
  display: inline-block;
}

#searchDropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-height: 80px;
  overflow-y: auto;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 2px;
}

.searchInputBox #searchDropdown {
  display: block;
}

.searchItem {
    border: 2px solid black;
    border-color: black;
    border-width: 0 0 1px 0;
    padding: 5px;
}

.searchItem:hover {
    background-color: rgba(0, 0, 0, 0.041);
}

.roundSearchGlass {
    margin-left: 10px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 5px;
}

.centerItem {
    width: fit-content;
    margin: auto;
}

.leftBox {
    width: 15%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--bgColor);
    box-shadow: 4px 0 6px -2px rgba(0, 0, 0, 0.2);
}

.rightBox {
    width: 85%;
    height: 90vh;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menuitem {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 20px;
    border-radius: 2px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2)
}

.menuitem > a {
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    height: 40px;
    font-size: 20px;
    color: var(--fgColor);
    background-color: var(--navItemBgColor);
    border: 2px solid var(--navItemBgColor);
    width: 100%;
    vertical-align: middle;
    justify-content:center;
    align-items:center;
    transition: all ease 0.3s;
}

.menuitem > a > * {
    display: flex;
    vertical-align: middle;
    justify-content:center;
    align-items:center;
}

.menuitem > a:hover {
    color: var(--secNavItemFgColor);
    background-color: var(--bgColor);
    border: 2px solid var(--navItemBgColor);
}

.navInfoText {
    color: var(--fgColor);
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.progressDiv {
    margin-top: 10px;
    height: 14px;
    width: 80%;
    background-color: var(--progressBg);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2)
}
  
.progressBar {
    max-width: 100%;
    border-radius: 2px;
    background-color: var(--progressBarColor);
    height: 100%;
}

.rightContent {
    display: flex;
    flex-direction: column;
}

.searchInput {
    min-width: 300px;
}

.navhelprow {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 0.5rem;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    margin-left: 2%;
}

.navhelprow > a {
    font-size: 25px;
    width: fit-content;
    text-decoration: none;
    border: 2px solid var(--fgColor);
    padding: 5px 20px;
    border-radius: 5px;
    color: var(--fgColor);
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2)
}

.navhelprow > span {
    padding: 5px;
    font-size: 30px;
}

.uploadedItems {
    display: flex;
}

.verticalCenter {
    vertical-align: middle;
    justify-content:center;
    align-items:center;
}









.uploadedFile {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 30px;
    border: 3px solid var(--fgColor);
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--fileBgColor);
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2)
}

.squarepage1 > a {
    text-decoration: none;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.squarepage1 > a > p > span {
    text-shadow: 3px 2px rgba(0, 0, 0, 0.523);
    color: rgb(60, 60, 60);
}

.fileName {
    text-decoration: underline;
    font-size: 1.2rem;
}

.filePreview {
    text-align: center;
}

.filePreview > span {
    font-size:10em;
}

.fileOptions {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.fileOptions > span:hover {
    cursor: pointer;
}

.closeFileOptionsBtn {
    transform: scale(1.1);
}

.squarepage2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.squarepage2btn {
    margin: auto;
    margin-top: 5px;
    width: fit-content;
    height: fit-content;
    align-items: center;   
    align-content: center;
}

.page2button {
    width: 160px;
    margin: 8px;
    height: 30px;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 5px;
}

.page2button:hover {
    cursor: pointer;
    font-weight: bold;
}

.deleteBtn:hover {
    color: red;
    border: 2px dashed red;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    margin-right: 5px;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    vertical-align: sub;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.container {
    width: fit-content;
}

.selectFileBtn {
    margin: auto;
    width: 10rem;
    height: 2rem;
    display: block;
    cursor: pointer;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 2rem 2rem 1rem 2rem;
    text-align: center;
    border-radius: 10px;
}
  
input[type="file"] {
    display: block;
    width: 0rem;
    height: 0rem;
    display: hidden;
    clip: rect(0px 0px 0px 0px);
    position: absolute;
    left: 0;
    top: 0;
}

.fullscreenpopup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 10;
}

.fullscreenpopup:hover {
    cursor: default;
}

.alertpopup {
    position: absolute;
    left: 0;
    top: 10%;
    width: fit-content;
    margin: auto;
    z-index: 100;
}

.successpopup {
    background-color: rgb(48, 146, 48);
    color: rgb(207, 207, 207);
    border-color: rgb(207, 207, 207);
    border-radius: 5px;
}

.popupBox {
    z-index: 50;
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid var(--fgColor);
    background-color: var(--popupBg);
}

.popupBox > form > div {
    margin-top: 10px;
}

.popupBox:hover {
    cursor: default;
}

.cancelDelete {
    border: 2px solid var(--fgColor);
    font-size: 18px;
    background-color: rgb(111, 109, 109);
    border-radius: 5px;
    color: var(--fgColor);
    padding: 20px 50px;
}

.confirmedDelete {
    border: 2px solid var(--fgColor);
    font-size: 18px;
    background-color: var(--dangerBgColor);
    border-radius: 5px;
    color: var(--fgColor);
    padding: 20px 50px;
}

.cancelDelete:hover, .confirmedDelete:hover {
    cursor: pointer;
}


.displayBesides {
    display: flex; 
    flex-wrap: nowrap;
} 

.displayBesides > * {
    margin: 3rem;
}

.textInputWide {
    height: 30px;
    padding: 5px;
}

.textInputColor {
    border: 2px solid var(--fgColor);
    border-radius: 2px;
}

.userInfoBox {
    color: var(--fgColor);
    margin: 2rem;
}

.userInfoBox > h5 {
    font-size: 20px;
    text-decoration: underline;
}

.askupdatebox {
    border-radius: 5px;
    background-color: var(--secBgColor);
    padding: 2rem;
}

.textInputWider {
    width: 100%;
}

.confirmUpdate {
    border: 2px solid var(--fgColor);
    font-size: 18px;
    background-color: var(--confirmBgColor);
    border-radius: 5px;
    color: var(--fgColor);
    padding: 20px 50px;
}

button:hover {
    cursor: pointer;
}


.mailitem {
    display: flex; 
    padding: 9px;
    border-radius: 2px;
    background-color: var(--thirdBgColor); 
    margin-bottom: 12px;
    width: fit-content;
}

.mailitem > button {
    background-color: var(--dangerBgColor);
    padding: 2px;
}
 
.mailitem > button > span {
    font-size: 15px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}





.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }